# Ignore everything by default
*

# Allow core project files
!.gitignore
!README.md
!main.py
!requirements.txt

# Allow notebook (for reference)
!final_mag7.ipynb

# Allow scripts folder and all python files inside
!scripts/
!scripts/*.py

# Allow folder structure (important)
!scripts/**

# Explicitly ignore data (good practice for dissertation)
data/
models/
